<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/indexStyle.css">
</head>
<body>
    <div id="main">
        <div id="heading">
            <h1>EMPLOYEE PORTAL</h1>
        </div>
        <a href="./secret"><h2>Secret</h2></a>
       <a href="./register"><h2>Register</h2></a>
       <a href="./login"><h2>Login</h2></a>
    </div>
</body>
</html>